@model DoAnASP.Areas.Admin.Models.UserModel
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<section class="main">
    <div class="layer">
        <div class="bottom-grid">
            <div class="logo">
                <h1> <a asp-action="Login"><span class="fa fa-key"></span> Key</a></h1>
            </div>
            <div class="links">
                <ul class="links-unordered-list">
                    <li class="active">
                        <a href="#" class="">Login</a>
                    </li>
                    <li class="">
                        <a href="#" class="">Register</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content-w3ls">
            <div class="text-center icon">
                <span class="fa fa-html5"></span>
            </div>
            <div class="content-bottom">
                <form asp-action="Register" method="post">
                    <div class="field-group">
                        <span class="fa fa-user" aria-hidden="true"></span>
                        <div class="wthree-field">
                            <input name="HoTen" id="text1" type="text" value="" placeholder="Fullname" required>
                        </div>
                    </div>
                    <div class="field-group">
                        <span class="fa fa-user" aria-hidden="true"></span>
                        <div class="wthree-field">
                            <input name="SDT" id="text1" type="number" value="" placeholder="Phone" required>
                        </div>
                    </div>
                    <div class="field-group">
                        <span class="fa fa-user" aria-hidden="true"></span>
                        <div class="wthree-field">
                            <input name="NgaySinh" id="text1" type="date" value="" placeholder="Birthday" required>
                        </div>
                    </div>
                    <div class="field-group">
                        <select name="GioiTinh" class="wthree-field">
                            <option value="false">Nam</option>
                            <option value="true">Nữ</option>
                        </select>
                    </div>
                    <div class="field-group">
                        <span class="fa fa-user" aria-hidden="true"></span>
                        <div class="wthree-field">
                            <input name="DiaChi" id="text1" type="text" value="" placeholder="Address" required>
                        </div>
                    </div>
                    <span id="usernameisuse"></span>
                    <div class="field-group">
                        <span class="fa fa-user" aria-hidden="true"></span>
                        <div class="wthree-field">
                            <input name="Username" id="username" type="text" value="" placeholder="Username" required onchange="checkUsername()">
                        </div>
                    </div>
                    <div class="field-group">
                        <span class="fa fa-lock" aria-hidden="true"></span>
                        <div class="wthree-field">
                            <input name="Password" id="password" type="Password" placeholder="Password" required>
                        </div>
                    </div>
                    <span id="pwnotmatch"></span>
                    <div class="field-group">
                        <span class="fa fa-lock" aria-hidden="true"></span>
                        <div class="wthree-field">
                            <input id="cpassword" type="Password" placeholder="Confirm Password" required oninput="checkPasswordMatch(this)">
                        </div>
                    </div>
                    <div class="wthree-field">
                        <button type="submit" id="btn_register" class="btn btn-primary" disabled>Get Started</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

@section Scripts{

    <script>
        function checkPasswordMatch(x) {
            if (x.value != $('#password').val()) {
                //x.setCustomValidity('Password do not match!')
                $('#pwnotmatch').html('<p style="color:white; font-size:20px">Password do not match!</p>');
                $("#btn_register").attr("disabled", true);
            }
            else {
                //x.setCustomValidity('')
                $('#pwnotmatch').html('');
                $("#btn_register").attr("disabled", false);
            }
        }
        function checkUsername() {
            $.ajax({
                method: "GET",
                url: "../../api/UserModels/checkusername",
                data: { 'username': $("#username").val() }
            }).done(function (data) {
                var dataJS = JSON.parse(data);
                if (!dataJS) {
                    $('#usernameisuse').html('<p style="color:white; font-size:20px">Usernam already exists ! </p>');
                }
                else {
                    $('#usernameisuse').html('');
                }
            });   
        }   
        
    </script>

}

