<div class="page-wrapper">
    <aside class="menu-sidebar d-none d-lg-block">
        <div class="logo">
            <a href="#">
                <img src="~/template/Admin/images/icon/logo.png" alt="Cool Admin" />
            </a>
        </div>
        <div class="menu-sidebar__content js-scrollbar1">
            <nav class="navbar-sidebar">
                <ul class="list-unstyled navbar__list">
                    <li class="active has-sub">
                        <a class="js-arrow" asp-action="Index" asp-controller="PhimModels">
                            <i class="fas fa-film"></i>Quản Lý Flims
                        </a>
                    </li>
                    <li class="has-sub">
                        <a class="js-arrow" asp-action="Index" asp-controller="LoaiPhimModels">
                            <i class="fas fa-file-movie-o"></i> Quản Lý Loại Filmss
                        </a>
                    </li>
                    <li class="has-sub">
                        <a class="js-arrow" asp-action="Index" asp-controller="PhongModels">
                            <i class="fas fa-copy"></i>Quản Lý Phòng
                        </a>
                    </li>
                    <li class="has-sub">
                        <a class="js-arrow" asp-action="Index" asp-controller="ChiTietDatVeModels">
                            <i class="fas fa-ticket"></i>Quản Lý Chi Tiết Đặt Vé
                        </a>
                    </li>
                    <li class="has-sub">
                        <a class="js-arrow" asp-action="Index" asp-controller="DatVeModels">
                            <i class="fas fa-ticket"></i>Quản Lý Đặt Vé
                        </a>
                    </li>
                    <li class="has-sub">
                        <a class="js-arrow" asp-action="Index" asp-controller="GheModels">
                            <i class="fas fa-copy"></i>Quản Lý Ghế
                        </a>
                    </li>
                    <li class="has-sub">
                        <a class="js-arrow" asp-action="Index" asp-controller="LoaiGheModels">
                            <i class="fas fa-"></i>Quản Lý Loại Ghế
                        </a>
                    </li>
                    <li class="has-sub">
                        <a class="js-arrow" asp-action="Index" asp-controller="GiamGiaModels">
                            <i class="fas fa-cart-arrow-down"></i>Quản Lý Giảm Giá
                        </a>
                    </li>
                    <li class="has-sub">
                        <a class="js-arrow" asp-action="Index" asp-controller="LichChieuModels">
                            <i class="fas fa-calendar-check-o"></i>Quản Lý Lịch Chiếu
                        </a>
                    </li>
                    <li class="has-sub">
                        <a class="js-arrow" asp-action="Index" asp-controller="QuanHuyenModels">
                            <i class="fas fa-copy"></i>Quản Lý Quận Huyện
                        </a>
                    </li>
                    <li class="has-sub">
                        <a class="js-arrow" asp-action="Index" asp-controller="RapModels">
                            <i class="fas fa-file-video-o"></i>Quản Lý Rạp
                        </a>
                    </li>
                    <li class="has-sub">
                        <a class="js-arrow" asp-action="Index" asp-controller="ThanhPhoModels">
                            <i class="fas fa-globe"></i>Quản Lý Thành Phố 
                        </a>
                    </li>
                    <li class="has-sub">
                        <a class="js-arrow" asp-action="Index" asp-controller="UserModels">
                            <i class="fas fa-user"></i>Quản Lý User
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </aside>
