@model DoAnASP.Areas.Admin.Models.PhongModel

@{
    ViewData["Title"] = "Create";
    Layout = null;
}
@using (Html.BeginForm("Create", "PhongModels", FormMethod.Post, new { enctype = "multipart/form-data" })) ;
@*<h1>Create</h1>

    <h4>PhongModel</h4>*@
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" id="frm_create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TenPhong" class="control-label"></label>
                <input asp-for="TenPhong" class="form-control" />
                <span asp-validation-for="TenPhong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaRap" class="control-label"></label>
                <select asp-for="MaRap" class="form-control" asp-items="ViewBag.MaRap"></select>
            </div>
            <div class="form-group">
                <input type="submit" id="btn_create" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script>
        $('#btn_create').click(function (e) {
            e.preventDefault();
            $.ajax({
                method: "POST",
                url: "@Url.Action("Create")",
                data: $('#frm_create').serialize()
            }).done(function (response) {
                console.log(response);
                if (response) {
                    $('#form-modal .modal-body').html("Thêm thành công");
                    //hiện tiêu đề
                    $('#form-modal .modal-title').html("Thông báo");
                    //hiện modal
                    $('#form-modal').modal('show');
                }
                else {
                    $('#form-modal .modal-body').html("Thêm Thất bại");
                    //hiện tiêu đề
                    $('#form-modal .modal-title').html("Thông báo");
                    //hiện modal
                    $('#form-modal').modal('show');
                }
            })
        })
</script>
