@model DoAnASP.Areas.Admin.Models.PhongModel

@{
    ViewData["Title"] = "Edit";
    Layout = null;
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data" id="frm_edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdPhong" />
            <div class="form-group">
                <label asp-for="TenPhong" class="control-label"></label>
                <input asp-for="TenPhong" class="form-control" />
                <span asp-validation-for="TenPhong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaRap" class="control-label"></label>
                <select asp-for="MaRap" class="form-control" asp-items="ViewBag.MaRap"></select>
                <span asp-validation-for="MaRap" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" id="btn_edit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script>
    $('#btn_edit').click(function (e) {
        e.preventDefault();
        $.ajax({
            method: "POST",
            url: "@Url.Action("Edit")",
            data: $('#frm_edit').serialize()
        }).done(function (response) {
            console.log(response);
            if (response) {
                //alert("Sửa thanh công");
                //location.reload();
                $('#form-modal .modal-body').html("Sửa thành công");
                //hiện tiêu đề
                $('#form-modal .modal-title').html("Thông báo");
                //hiện modal
                $('#form-modal').modal('show');
            }
            else {
                $('#form-modal .modal-body').html("Sửa Thất bại");
                //hiện tiêu đề
                $('#form-modal .modal-title').html("Thông báo");
                //hiện modal
                $('#form-modal').modal('show');
            }
        })
    })
</script>
