@model IEnumerable<DoAnASP.Areas.Admin.Models.QuanHuyenModel>

@{
    ViewData["Title"] = "Index";
}

<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive table-responsive-data2">
                        <h1>Quận/Huyện</h1>

                        <p>
                            <a class="au-btn au-btn-icon au-btn--green au-btn--small" asp-action="Create">Create New</a>
                        </p>
                        <table class="table table-data2">
                            <thead>
                                <tr>
                                    <th>
                                        Tên Quận/Huyện
                                    </th>
                                    <th>
                                        Thành phố
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr class="tr-shadow">
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TenQuanHuyen)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.thanhPho.TenThanhPho)
                                        </td>
                                        <td>
                                            <div class="table-data-feature">
                                                <a asp-action="Edit" asp-route-id="@item.IdQuanHuyen" class="item" data-toggle="tooltip" data-placement="top" title="Edit">
                                                    <i class="zmdi zmdi-edit"></i>
                                                </a>
                                                <a  asp-action="Delete" asp-route-id="@item.IdQuanHuyen" class="item" data-toggle="tooltip" data-placement="top" title="Delete">
                                                    <i class="zmdi zmdi-delete"></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>