@model IEnumerable<DoAnASP.Areas.Admin.Models.LoaiPhimModel>

@{
    ViewData["Title"] = "Index";
}

<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive table-responsive-data2">
                        <div class="form-header">
                            <input class="au-input au-input--xl" type="text" id="keysearch" placeholder="Nhập loại phim..." />
                            <button class="au-btn--submit" id="btn_search">
                                <i class="zmdi zmdi-search"></i>
                            </button>
                        </div>
                        <h1>Loại Phim</h1>

                        <p>
                            <a class="au-btn au-btn-icon au-btn--green au-btn--small" asp-action="Create">Create New</a>
                        </p>
                        <table class="table table-data2">
                            <thead>
                                <tr>
                                    <th>Tên loại phim</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr class="tr-shadow">
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TenLoaiPhim)
                                        </td>
                                        <td>
                                            <div class="table-data-feature">
                                                <a asp-action="Edit" asp-route-id="@item.IdLoaiPhim" class="item" data-toggle="tooltip" data-placement="top" title="Edit">
                                                    <i class="zmdi zmdi-edit"></i>
                                                </a>
                                                <a asp-action="Delete" asp-route-id="@item.IdLoaiPhim" class="item" data-toggle="tooltip" data-placement="top" title="Delete">
                                                    <i class="zmdi zmdi-delete"></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        $(document).ready(function () {
            $("#btn_search").click(function () {
                $.ajax({
                    method: "GET",
                    url: "../../API/APISearchLoaiPhim/GetData",
                    data: { 'keyword': $("#keysearch").val() }
                }).done(function (data) {
                    var item = JSON.parse(data);
                    console.log(data);
                    var i = '';
                    $.each(item, function (index, value) {
                        i = `<tr class="tr-shadow">
                                            <td>` +
                            value.TenLoaiPhim +
                            `</td>
                                            <td>
                                                <div class="table-data-feature">
                                                    <a href="LoaiPhimModels/Edit/`+ value.IdLoaiPhim + ` " class="item" data-toggle="tooltip" data-placement="top" title="Edit">
                                                        <i class="zmdi zmdi-edit"></i>
                                                    </a>
                                                    <a href="LoaiPhimModels/Delete/`+ value.IdLoaiPhim + ` " class="item" data-toggle="tooltip" data-placement="top" title="Delete">
                                <i class="zmdi zmdi-delete"></i>
                                                    </a>
                                                    </div >
                                                </td >
                                            </tr >`;
                    });
                    $('tbody').html(i)
                });
                });
            });
    </script>
}