<!-- header-section-starts -->
<div class="full">
    <div class="menu">
        <ul>
            <li><a asp-controller="Home" class="active" asp-action="Index"><div class="hm"><i class="home1"></i><i class="home2"></i></div></a></li>
            <li><a  asp-controller="Video" asp-action="Index"><div class="video"><i class="videos"></i><i class="videos1"></i></div></a></li>
            <li><a asp-controller="Reviews" asp-action="Index"><div class="cat"><i class="watching"></i><i class="watching1"></i></div></a></li>
            <li><a asp-controller="Contact" asp-action="Index"><div class="cnt"><i class="contact"></i><i class="contact1"></i></div></a></li>
        </ul>
    </div>
    <div class="main">
        <div class="header">
            <div class="top-header">
                <div class="logo">
                    <a href="index.html"><img src="~/template/images/logo.png" alt="" /></a>
                    <p>Movie Theater</p>
                </div>
                <div class="search">
                    <form>
                        <input type="text" value="Search.." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search..';}" />
                        <input type="submit" value="">
                    </form>
                </div>
                <div class="clearfix"></div>
            </div>
