@model DoAnASP.Areas.Admin.Models.PhimModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="main-content">
    <h1>Create</h1>

    <h4>PhimModel</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="TenPhim" class="control-label"></label>
                    <input asp-for="TenPhim" class="form-control" />
                    <span asp-validation-for="TenPhim" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ThoiLuong" class="control-label"></label>
                    <input asp-for="ThoiLuong" class="form-control" />
                    <span asp-validation-for="ThoiLuong" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="HinhAnh" class="control-label"></label>
                    <input type="file" asp-for="HinhAnh" name="ful" class="form-control" />
                    <span asp-validation-for="HinhAnh" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LinkPhim" class="control-label"></label>
                    <input asp-for="LinkPhim" class="form-control" />
                    <span asp-validation-for="LinkPhim" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Mota" class="control-label"></label>
                    <input asp-for="Mota" class="form-control" />
                    <span asp-validation-for="Mota" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MaLoaiPhim" class="control-label"></label>
                    <select asp-for="MaLoaiPhim" class="form-control" asp-items="@(new SelectList(ViewBag.TypeFilm,"IdLoaiPhim","TenLoaiPhim"))"></select>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
