@model IEnumerable<DoAnASP.Areas.Admin.Models.GiamGiaModel>

@{
    ViewData["Title"] = "Index";
}



<div class="container">
    <div class="modal fade col-4" id="modalCreate" role="dialog" data-url='@Url.Action("Create","GiamGiaModels")'></div>
    
   
</div>
  

<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="row">
                 <div class="col-md-12">
                    <div class="table-responsive table-responsive-data2">
                        <h1>Giảm giá</h1>
                        <button type="button" class="btn btn-create btn-info btn-lg">Create</button>

                        <table class="table table-data2">
                            <thead>
                                <tr>
                                    <th>
                                        Phần trăm
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr class="tr-shadow">
                                        <td>
                                            @Html.DisplayFor(modelItem => item.PhanTram)%
                                        </td>
                                        <td>
                                            <div class="table-data-feature">
                                                <button asp-action="Edit" asp-route-id="@item.IdMaGiamGia"  class="item " data-toggle="tooltip" data-placement="top" title="Edit">
                                                    
                                                    <i class="zmdi zmdi-edit"></i>
                                                </button>
                                                <button asp-action="Delete" asp-route-id="@item.IdMaGiamGia" class="item" data-toggle="tooltip" data-placement="top" title="Delete">
                                                    <i class="zmdi zmdi-delete"></i>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script>
    var id = 0;
        $(document).ready(function () {

            $('.btn-create').click(function () {

                var url = $('#modalCreate').data('url');
                $.get(url, function (data) {

                    $('#modalCreate').html(data);
                    $('#modalCreate').modal('show');
                });
            });


        });

   
        
    }

        

</script>
}
