@model DoAnASP.Areas.Admin.Models.LoaiGheModel

@{
    ViewData["Title"] = "Create";
    Layout = null;
}
@using (Html.BeginForm("Create", "LoaiGheModels", FormMethod.Post, new { enctype = "multipart/form-data" })) ;
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TenLoaiGhe" class="control-label"></label>
                <input asp-for="TenLoaiGhe" class="form-control" />
                <span asp-validation-for="TenLoaiGhe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GiaLoaiGhe" class="control-label"></label>
                <input asp-for="GiaLoaiGhe" class="form-control" />
                <span asp-validation-for="GiaLoaiGhe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
