@model DoAnASP.Areas.Admin.Models.LoaiGheModel

@{
    ViewData["Title"] = "Edit";
    Layout = null;
}

<h1>Edit</h1>

<h4>LoaiGheModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" id="frm_edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdLoaiGhe" />
            <div class="form-group">
                <label asp-for="TenLoaiGhe" class="control-label"></label>
                <input asp-for="TenLoaiGhe" class="form-control" />
                <span asp-validation-for="TenLoaiGhe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GiaLoaiGhe" class="control-label"></label>
                <input asp-for="GiaLoaiGhe" class="form-control" />
                <span asp-validation-for="GiaLoaiGhe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" id="btn_edit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script>
    $('#btn_edit').click(function (e) {
        e.preventDefault();
        $.ajax({
            method: "POST",
            url: "@Url.Action("Edit")",
            data: $('#frm_edit').serialize()
        }).done(function (response) {
            console.log(response);
            if (response) {
                //alert("Sửa thanh công");
                //location.reload();
                $('#form-modal .modal-body').html("Sửa thành công");
                //hiện tiêu đề
                $('#form-modal .modal-title').html("Thông báo");
                //hiện modal
                $('#form-modal').modal('show');
            }
            else {
                $('#form-modal .modal-body').html("Sửa Thất bại");
                //hiện tiêu đề
                $('#form-modal .modal-title').html("Thông báo");
                //hiện modal
                $('#form-modal').modal('show');
            }
        })
    })
</script>